<h1>Come stai?</h1>
<form id="form-dati">
    <div class="form-group">
        <label for="data">Data</label>
        <input class="form-control" type="date" id="data" required>
    </div>
    <div class="form-group">
        <label for="periodo">Periodo</label>
        <select class="form-control" name="periodo" id="periodo" required>
            <option value="1" selected>Tutto il giorno</option>
            <option value="2">Mattina</option>
            <option value="3">Pomeriggio</option>
            <option value="4">Sera</option>
            <option value="5">Notte</option>
        </select>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="comeva" id="comevaOttimo" value="Ottimo" checked>
        <label class="form-check-label" for="comevaOttimo">Ottimo</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="comeva" id="comevaBuono" value="Buono">
        <label class="form-check-label" for="comevaBuono">Buono</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="comeva" id="comevaCosicosi" value="Così così">
        <label class="form-check-label" for="comevaCosicosi">Così così</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="comeva" id="comevaMale" value="Male">
        <label class="form-check-label" for="comevaMale">Male</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="comeva" id="comevaTerribile" value="Terribile">
        <label class="form-check-label" for="comevaTerribile">Terribile</label>
    </div>
</form>

<input type="button" value="Indietro" onclick="indietro();">

<form action="{{ 'comoodo_nuovo_datigenerali_registra' | alias }}" method="POST">
    <input type="button" value="Avanti" onclick="avanti(this.form);">
</form>

<script>
    function indietro() {
        console.log("indietro");
    }

    function avanti(form) {
        console.log("avanti");

        let data = document.getElementById("data").value;
        let data_input = document.createElement("input");
        data_input.name = "data";
        data_input.type = "hidden";
        data_input.value = data;

        let selectPeriodo = document.getElementById("periodo");
        let periodo = selectPeriodo.options[selectPeriodo.selectedIndex].text;
        let periodo_input = document.createElement("input");
        periodo_input.name = "periodo";
        periodo_input.type = "hidden";
        periodo_input.value = periodo;

        let comeva_input = document.createElement("input");
        let rbs = document.querySelectorAll('input[name="comeva"]');
        let selectedValue;
        for (const rb of rbs) {
            if (rb.checked) {
                selectedValue = rb.value;
                break;
            }
        }
        comeva_input.name = "comeva";
        comeva_input.type = "hidden";
        comeva_input.value = selectedValue;

        form.appendChild(data_input);
        form.appendChild(periodo_input);
        form.appendChild(comeva_input);
        form.submit();
    }
</script>